<!DOCTYPE html>
<html>
  <head>
    <title>mtarep</title>
    <script src="/bootstrap/js/jquery-1.8.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/tablesorter/js/jquery.tablesorter.js"></script>
    <script>
      $(function(){
        $("table#main-table").tablesorter({ sortList: [[0,0]] });
      });
    </script>
    <script>
      $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
          $("[rel=tooltip]").tooltip();
        }
      });
    </script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  </head>

  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand"><strong>mtarep - Reputation Reporting & Statistics Dashboard</strong></a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/bootstrap/img/list.png"></a>
              <ul class="dropdown-menu">
                <li><a href="/" style="color: #cccccc;">Home</a></li>
                <li><a href="/help" style="color: #cccccc;">Help</a></li>
                <li><a href="/graphs" style="color: #cccccc;">Graphs</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
        <br>
        <br>
        <table id="main-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By MTA Name">host</a></th>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By Return Path Sender Score">sender score</a></th>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By Filter Color Status">snds filtering</a></th>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By Total Trap Counts">snds traps</a></th>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By Provider Blocks">provider blocks</a></th>
              <th style="text-align: center; background: #ffffff; border: 0;">
              <a rel="tooltip" data-placement="bottom" data-original-title="Sort By RBL Listings">rbl listings</a></th>
            </tr>
          </thead>
          <tbody>
            <% @mta_redis_data_hash.each_pair do |mta_ip, mta_fields_hash| %>
              <% color = mta_fields_hash['sndscolor'] %>
              <% listings = mta_fields_hash['listings'] %>
              <% provblocks = mta_fields_hash['provblocks'] %>
              <% senderscore = mta_fields_hash['senderscore'] %>
              <% if senderscore == 'no score' %>
                <% senderscore = 100 %>
              <% else %>
                <% senderscore = senderscore.to_i %>
              <% end %>
              <% sndstraps = mta_fields_hash['sndstraps'] %>
              <% if sndstraps == 'no data' %>
                <% sndstraps = 0 %>
              <% else %>
                <% sndstraps = sndstraps.to_i %>
              <% end %>

              <% if senderscore < 60 %>
                <tr class="error" rel="tooltip" data-placement="bottom" data-original-title="Alert: Deliverability Issues!">
              <% elsif sndstraps >= 12 %>
                <tr class="error" rel="tooltip" data-placement="bottom" data-original-title="Alert: Deliverability Issues!">
              <% elsif color == 'red' %>
                <tr class="error" rel="tooltip" data-placement="bottom" data-original-title="Alert: Deliverability Issues!">
              <% elsif listings =~ /(spamhaus|spamcop)/ %>
                <tr class="error" rel="tooltip" data-placement="bottom" data-original-title="Alert: Deliverability Issues!">
              <% elsif provblocks !~ /(no\sblocks|maillog\sparser\serror)/ %>
                <tr class="error" rel="tooltip" data-placement="bottom" data-original-title="Alert: Deliverability Issues!">
              <% elsif color == 'yellow' %>
                <tr class="warning">
              <% elsif senderscore < 70 %>
                <tr class="warning">
              <% else %>
                <tr class="success">
              <% end %>

              <% removal_links = @redis.hgetall('removal_links') %>
              <% provider = '' %>
              <% mta_fields_hash.each_pair do |redis_field, redis_value| %>
                <td style="text-align: center;">
                <% if redis_field =~ /(provblocks|listings)/ %>
                  <% multiple_redis_field_values = redis_value.split(',') %>
                  <% redis_field_value_count = multiple_redis_field_values.count %>
                  <% modal_id = mta_ip.gsub('.','') %>
                  <% iterator_counter = 0 %>
                  <% multiple_redis_field_values.each do |redis_field_value| %>
                    <% iterator_counter += 1 %>
                    <% if redis_field_value =~ /(no\sblocks|error|unlisted)/ %>
                      <%= redis_field_value %>
                    <% else %>
                      <% if redis_field == 'provblocks' %>
                        <% provider = redis_field_value.split(':')[0] %>
                        <% sample_logline = @redis.hgetall(redis_field_value.split(':')[1]) %>
                        <a href="#<%= provider+modal_id %>Modal" data-toggle="modal" style="color: red;"><b><u><%= provider %><br></u></b></a>
                        <div id="<%= provider+modal_id %>Modal" class="modal hide fade">
                          <div class="modal-header" style="background-color: #82B0E1;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 style="color: white;"><%= provider.capitalize %> Block Removal Info</h3>
                          </div>
                          <div class="modal-body">
                            <h3><strong>SMTP rejection log</strong></h4>
                            <p style="padding: 6px; color: #00CD00; background-color: #464646; border: #8C8C8C 4px solid; border-radius:10px;">
                            <font face="monaco"><%= sample_logline.to_a.flatten[1] %></font></p>
                            <h4><strong>blocked ip address: <%= mta_ip %></strong></h4>
                            <% if @assistance_links[provider] %>
                              <a href="<%= @assistance_links[provider] %>" target="_blank"><strong>click here for <%= provider %> removal assistance<br></strong></a>
                            <% end %>
                          <% redis_field_value = provider %>
                      <% else %>
                        <% listing = redis_field_value.split[0] %>
                        <a href="#<%= listing.gsub('.', '')+modal_id %>Modal" data-toggle="modal" style="color: red;"><b><u><%= listing %><br></u></b></a>
                        <div id="<%= listing.gsub('.', '')+modal_id %>Modal" class="modal hide fade">
                          <div class="modal-header" style="background-color: #82B0E1;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 style="color: white;">RBL Removal Info</h3>
                          </div>
                          <div class="modal-body">
                            <% if listing =~ /spamhaus/ %>
                              <% if @assistance_links['spamhaus'] %>
                                <p><a style="color: red;" href="<%= @assistance_links['spamhaus'] %>" target="_blank"><u>spamhaus listing assistance</u></a></p>
                              <% end %>

                              <a href=<%= removal_links[redis_field_value]+mta_ip %> target="_blank"><u>spamhaus listing lookup/info</u></a>
                              <br>
                              <br>
                            <% elsif listing =~ /spamcop/ %>
                              <p>Please visit <a href=<%= removal_links[redis_field_value]+mta_ip %> target="_blank"><u>spamcop</u></a> to view the details of the listing for ip address <strong style="color: red;"><%= mta_ip %></strong>.
                              <br>
                              <br>
                              Spamcop listings expire within 12 to 24 hours. It's fairly difficult to convince them to remove the listing earlier than it's expiration, but you should try anyway. Spamcop listings result in rejections at AT&T operated domains (there are many) and several non-major domains.</p>
                            <% elsif listing =~ /(mcafee|wpbl)/ %>
                              <p>Please visit <a href=<%= removal_links[redis_field_value]+mta_ip %> target="_blank"><u><%= listing %></u></a> to view details and submit a removal request for ip address <strong style="color: red;"><%= mta_ip %></strong>.</p>
                            <% else %>
                              <p>Please lookup ip address <strong style="color: red;"><%= mta_ip %></strong> on the <a href=<%= removal_links[redis_field_value] %> target="_blank"><u><%= listing %></u></a> list query page and submit a removal request.</p>
                            <% end %>
                            <% redis_field_value = listing %>
                      <% end %>
                      <% redis_ack = @redis.get('ack-'+redis_field_value+'-'+mta_ip) %>
                      <% if redis_ack.nil? %>
                        <% @provider_block_strings.each_pair do |provider_name, block_string| %>
                          <% next unless redis_field_value == provider_name %>
                          <a href=<%= removal_links[provider_name] %> target="_blank"><h4><strong style="color: red;"><u>initiate a removal request</u></strong></h4></a>
                        <% end %>
                        <p>click the acknowledge button once you have requested a block removal</p>
                        </div>
                        <div class="modal-footer">
                          <form action="/ack" method="post">
                            <button type="submit" class="btn btn-inverse" name="ack" value=<%='ack-'+redis_field_value+'-'+mta_ip %>>Acknowledge</button>
                          </form>
                      <% else %>
                        <p><strong style="color: red;">A removal request has already been submitted</strong><br>
                           Acknowledged by <strong><%= redis_ack.split[0] %></strong> at <strong><%= redis_ack.split[1..2].join(' ') %></strong></p>
                      <% end %>
                      </div>
                    </div>
                    <% end %>
                    <% if iterator_counter < redis_field_value_count %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= redis_value.gsub(',',"<br>") %>
                <% end %>
                </td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <div class="span1"></div>
      </div>
    </div>
  </div>

  </body>
</html>
